.full {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
}

.left {
    width: 1000px;
}

.title {
    font-size: 20px;
    font-weight: 450;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.details {
    color: #909090;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
}

.icons {
    margin:10px
}

.name {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: #909090;
    font-weight: bold;
}